            <li>
              <%= gravatar_for(user) %>
              <%= link_to user.uname, user_path(user) %>
              <% @no_del ||= false; if current_user.admin? && current_user != user && !@no_del %>

                  |  <%= link_to "delete", user, :method =>:delete, :confirm =>"Are you sure?",
                            :title=>"Delete #{user.name}", :class => "smaller" %>
              <% end %>
            </li>