<div class="users inner_round">
  <h3>All users</h3>
  <%= will_paginate %>

  <ul class="users">
        <%= render "shared/flash" %>

       <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
