<% unless @feed_items.blank? %>

    <%= will_paginate @feed_items %>

    <table>
      <%= render :partial => "shared/feed_single_item", :collection =>@feed_items, :as => :micropost %>
    </table>
<% end %>