<% option ||= {}
   controller.flash.each do |tag, value|
       if option[:table] %>
        <tr>
          <td>
        <% end %>
        <%=content_tag(:div, value, :class=>"flash #{tag}") %>
        <% if option[:table] %>
            </td></tr>
        <% end %>
    <% end %>